@keyframes fadein {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

#aboutCard {
  animation-delay: 2s;
  animation: fadein 1s;
}
@media (max-width: 1270px) {
  .bioCardImage {
    margin-top: 0% !important;
  }
}
